html {
    height: 100%;
    width: 100%;
}

body {
        background-color:black;
        font-family:arial;
        font-weight:bold;
        color:white;
        display: flex;
        justify-content:center;
        align-items:center;
        min-height:90%;
     }
h1{
    color:grey;
    font-family:verdana;
    text-align:center;
    }
.maindiv{    
    background-color:white;
    color:black;
    width:80%;
    padding:20px;
    border-radius:25px; 

    display:flex;
    align-items:center;
    flex-direction:column;
}
.titlediv {    
    width:90%;
}
.subdiv {
    width:70%;
}
.footerdiv {
    width:90%;
}